.filters {
    margin-top: 10px;
    width: 18%;
    height: auto;
    margin-left: 15px;
    padding: 12px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    top: 41px;
    background: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 6%);
    float: left;
    margin-bottom: 3%;
}

.price-select select {
    width: 42%;
    display: inline-block;
    font-size: 12px;
}

.price-select .upper {
    width: 48%;
}

.price-select>.upper:hover,
.price-select>.lower:hover {
    box-shadow: 1px 1px 1px lightblue, 1px 1px 2px lightgreen;
}

.content {
    width: 79%;
    float: left;
}

.filters {
    padding-left: 20px;
    padding-left: 20px;
    border: 1px solid #d2d2d2;
    margin-top: 1.1%;
    border-radius: 1%;
}

.filters>p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.sub-items p {
    padding: 0;
    margin: 0;
    padding: 4px;
}

@media screen and (max-width: 1130px) {
    .filters {
        width: 22%;
    }
    .content {
        width: 75%;
    }
}